<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- 引入 echarts.js-->
    <script src="/static/echarts.min.js"></script>

    <title>BigDragon - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/static/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
          {% include "head.html" %}
 
            {% block content %} 
            {% endblock %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">图形化统计</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            CPU平均负载
                        </div>
                        <!-- /.panel-heading -->
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                
                <div id="main" style="width: 1500px;height:500px;"></div>
                <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('main'));
                        // 指定图表的配置项和数据
                        var option = {
                                title: {
                                        text: ' '
                                },
                                tooltip: {},
                                legend: {
                                        data:['1分钟负载','5分钟负载','15分钟负载']
                                },
                                xAxis: {
                                        data: ["1分钟负载","5分钟负载","15分钟负载"]
                                },
                                yAxis: {},
                                series: [
                                  {
                                        name:'负载',
                                        type:'line',
                                        smooth:true,
                                        areaStyle:{
                                                normal:{
                                                        color:new echarts.graphic.LinearGradient(0,0,0,1,[{
                                                                offset:0,
                                                                color:'rgb(255,158,68)'
                                                        },{
                                                                offset:1,
                                                                color:'rgb(255,70,131)'
                                                        }])
                                                }
                                        },
                                        data: [
						{{ load1 }},{{ load5 }},{{ load15 }}
					]
                                }]
                        };
                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                </script>
        
<!--</div>-->
<!--fengexian-->

                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            内存
                        </div>
                      
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <div id="pie" style="width: 600px;height:400px;"></div>
                <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('pie'));
                        // 指定图表的配置项和数据
                        var option = {
				title : {
        				text: '系统内存监控',
        			
        				x:'center'
    				},
                                tooltip: {
					trigger: 'item',
        				formatter: "{a} <br/>{b} : {c} ({d}%)"
				},
                                legend: {
					orient:"vertical",
					left:'left',
                                        data:['已用','空闲']
                                },
                                series: [
				{
                                        name: '百分比',
                                        type: 'pie',
                                        data: [
					    {value:{{ uu }},name:'已用'},
					    {value:{{ ff }},name:'空闲'}
					],
					itemStyles:{
						emphasis: {
                    					shadowBlur: 10,
                    					shadowOffsetX: 0,
                    					shadowColor: 'rgba(0, 0, 0, 0.5)'
                        			}
					}
				}]
			};
                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                </script>
        	</div>
		
	        </div>	
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            磁盘使用率
                        </div>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <div id="pie2" style="width: 600px;height:400px;"></div>
                <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('pie2'));
                        // 指定图表的配置项和数据
                        var option = {
                                title : {
                                        text: '分区的使用情况监控',
                                        
                                        x:'center'
                                },
                                tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                                },
                                legend: {
                                        orient:"vertical",
                                        left:'left',
                                        data:['已使用','可用']
                                },
                                series: [
                                {
                                        name: '百分比',
                                        type: 'pie',
                                        data: [
                                            {value:{{ gen }},name:'/已使用'},
                                            {value:{{ keyong }},name:'/可用'}
                                        ],
                                        itemStyles:{
                                                emphasis: {
                                                        shadowBlur: 10,
                                                        shadowOffsetX: 0,
                                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                                }
                                        }
                                }]
                        };
                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                </script>
                </div>

                </div>
                <!-- /.col-lg-6 -->
                 
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            ECharts 使用特性
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <p>ECharts，一个纯 Javascript 的图表库，可以流畅的运行在 PC 和移动设备上，兼容当前绝大部分浏览器（IE8/9/10/11，Chrome，Firefox，Safari等），底层依赖轻量级的 Canvas 类库 ZRender，提供直观，生动，可交互，可高度个性化定制的数据可视化图表。 </p>
                            <a target="_blank" class="btn btn-default btn-lg btn-block" href="http://echarts.baidu.com/index.html">查看ECharts官方文档</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div> 
    <!-- /#wrapper -->
    
    <!-- jQuery -->
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Flot Charts JavaScript -->
    <script src="/static/bower_components/flot/excanvas.min.js"></script>
    <script src="/static/bower_components/flot/jquery.flot.js"></script>
    <script src="/static/bower_components/flot/jquery.flot.pie.js"></script>
    <script src="/static/bower_components/flot/jquery.flot.resize.js"></script>
    <script src="/static/bower_components/flot/jquery.flot.time.js"></script>
    <script src="/static/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/static/js/flot-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

</body>

</html>
